@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

body {
  font-family: "Sora", sans-serif;
}